.loader,
.error {
    display: none;
}

.breed-select {
    width: 155px;
    margin: 10px 10px;
}

.error {
    color: crimson;
}

.cat-image {
    max-width: 350px;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
}

.loader {
    margin-left: 10px;
    background-color: #ffffff00;
    color: white;
    animation: textAnimation 1s linear infinite;
    }
    
    @keyframes textAnimation {
        0% {
            color: red;
        }
    
        50% {
            color: green;
        }
    
        100% {
            color: blue;
        }
    }

.cat-info {
    display: flex;
    
}


.cat-info-text {
    flex-grow: 1;
}







